@import "tailwindcss";

#content {padding: 10px 10px}
h2 {font-size: 25px; text-align: center; margin: 30px 40px 10px 40px}
h3 {font-size: 30px; text-align: center; margin: 40px; font-weight: bold;}
p {margin-bottom: 20px; padding: 0 40px 0 40px}


