@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#content {padding: 10px 10px}
h2 {font-size: 25px; text-align: center; margin: 30px 40px 10px 40px}
h3 {font-size: 30px; text-align: center; margin: 40px; font-weight: bold;}
#content p {margin-bottom: 20px; padding: 0 40px 0 40px}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .lato-black, h2{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .lato-bold, li a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

