---
import Layout from "../layouts/Layout.astro";
import homecoming from '../assets/homecoming.jpg';
import ssunday from '../assets/ssunday.png';
---

<Layout>
    <h2>Past events</h2>
    <img src={homecoming.src} class="pb-2"/>
    <img src={ssunday.src} class="pb-2"/>

</Layout>