---
import Layout from "../layouts/Layout.astro";
---

<Layout>

    <h3>History of Carey Temple A.M.E. Church</h3>
    <p>Carey Temple African Methodist Episcopal Church has been the beneficiary of innumerable blessings from God. One of the most notable blessings has been in leadership. Carey’s pulpit has been and continues to be home to some of the most outstanding, well-educated ministers in the African Methodist Episcopal connection. This heritage has provided the religious, cultural, and educational background needed to give a congregation stability and longevity. Rev. William Washington Harris founded Carey Chapel at 4318 South Wabash, the old home of Coppin Chapel A.M.E. Rev. Harris, with a few members, helped to give the newcomers in the area a church in which to serve the Lord. The church sought to minister to the people’s needs. Rev. William Harris brought a rich background and talents of a high order to this new church. An articulate preacher and teacher with a small membership, Rev. Harris developed the membership to a point that caused the Chicago area prelates to take notice of the significant progress occurring at Carey Chapel.</p>
    <p>In 1928, Bishop Archibald J. Carey was assigned to the Fourth Episcopal District. Within the next few months arrangements were made by the trustees and Chicago Annual Conference officers to purchase property from the Congregational Church in order to relocate Carey Chapel to 5347 South Michigan Avenue. The first service was held on February 3, 1929, in the new building. Under the leadership of Rev. W. W. Harris, pastor, Bishop Archibald J. Carey and Rev. Brian U. Taylor, the presiding elder, Carey Chapel was renamed Carey A.M.E. Temple. It was the request of Bishop Carey. Under the Pastorate of Rev. A. Leon Bailey, Carey A.M.E. Temple was relocated to the property at 7151-57 South Greenwood Ave. in 1962. In June of 1997, by the grace of God, we were blessed to receive the first female pastor of Carey Temple. Rev. Dr. Ida V. James. Rev. James led Carey Temple to a renewed level of spirituality and began the plan to revitalize the Congregation and the church’s physical structure.</p>
    
    
    <h2>MINISTERS WHO HAVE SERVED CAREY AND THE COMMUNITY</h2>
    <ul class="pl-10 uppercase">
    <li>REV. WILLIAM W. HARRIS
    </li><li>REV. O. LAMPTON POWELL
    </li><li>REV. FREDERICK DOUGLAS JORDAN
    </li><li>REV. J. EDWARD FOSTER
    </li><li>REV. DILLIAM DUNCAN SHANNON
    </li><li>REV. LOUIS TONEY
    </li><li>REV. HILBERT E. STEWART
    </li><li>REV. J. R. KEYS ULYSSES S. ROBINSON
    </li><li>REV. THOMAS HIGGINBOTHAN
    </li><li>REV. A. LEWIS WILLIAMS
    </li><li>REV. DR. IDA V.JAMES
    </li><li>REV. HYMAN B. MILLS SHEPHERD ALEXANDER I. DUNLAP
    </li><li>REV. J. D. COSTON
    </li><li>REV. LINNELLBAKER, JR.
    </li><li>REV. A. LEON BAILEY
    </li><li>REV. ROLAND D.DIXON
        </li>
    </ul>
    
    
    <h2>OUR CHURCH PRESENT</h2>
    
    <p>
    Rev. Atty. Sheila Wilson Freelon is our current Senior Pastor. Under the leadership of Pastor Freelon, Carey Temple has made tremendous progress in such a short period of time. She was appointed to Carey Temple on September 28, 2019. She immediately began working with the Church Officers and members to revitalize and restore Carey Temple! She is still fired up and ready to work with passion, love, unity and one accord in our transgenerational church…all by the POWER of the HOLY SPIRIT!
    </p><p>
    As a result of these ministries, individuals and their families are being transformed across these United States and the world!
    </p><p>
    Under the leadership of Pastor Freelon, the church has undergone major restoration projects including the parsonage; the exterior walls and north foundation of the church; the south entrance; the Pastor’s Study; the Fellowship Hall; three restrooms; the sanctuary; the stairwells; the roof parapets; and certain areas of the roof. During the 2023-2024 conference year, we recarpeted the entire church, completed office restoration, and installed a new audio-visual system. We praise God that we completed all projects debt free!
    </p><p>
    At our Quarterly Conferences, former Presiding Elder Walter R. Bauldrick, Sr. expressed that “Carey Temple has much to be thankful for” and that our church serves a model for other churches connectionally! We are thankful that God has prospered us even during social/political unrest and the Covid Pandemic.
    </p><p>
    Since Pentecost Sunday in June 2022, we have held hybrid worship services in person and on Zoom. We praise God and believe that the best is yet to come! In closing, Carey Temple African Methodist Episcopal Church is still spreading the gospel through FRANgelism and the teachings of Christ, our Redeemer, throughout the community and the United States. As our new logo states we are loving God, loving neighbors, and making disciples as we strive to follow the pattern set before us by Jesus the Christ. It is our prayer that we cast an even greater light on the corner of 72nd and Greenwood and in the world for such a time as this. We can do all things through Christ who strengthens us.(Philippians 4:13)
    </p><p>
    To God be the Glory for the Great things He has done! In Jesus Mighty Name! Amen
    </p>
</Layout>