---
import Layout from '../layouts/Layout.astro';
import giveImg from '../assets/carey-temple-give.png';
import careyTemple from '../assets/carey-temple-outside2.jpg';
import main from '../assets/firstSunday.png';
---

<Layout>
	
		<div class="welcome lato-regular mt-5 mb-0 p-0 text-center">Welcome to</div>
		<h2 class="title lato-regular">Carey Temple African Methodist Episcopal Church</h2>
		
		<ul class="list-none not-italic border-b-2 border-b-white text-center m-0 p-0 lato-bold">
			<li class="inline-block pr-1 p-0 m-0">7157 S. Greenwood, Chicago IL 60619</li>|
			<li class="inline-block pr-1 p-0 m-0">(773) 324-7766</li>
		</ul>
		<!-- <p class="text-center font-bold m-0 p-0">Rev. Sheila Wilson Freelon, Esq., MDiv., Senior Pastor</p> -->

		<ul class="text-center font-bold mt-0 mb-5 p-0 lato-regular">
			<li class="whitespace-nowrap inline-block pr-1">Rev. Sheila Wilson Freelon,</li>
			<li class="whitespace-nowrap inline-block pr-1">Esq., MDiv.,</li>
			<li class="whitespace-nowrap inline-block pr-1">Senior Pastor</li>
		</ul>

		<!-- <img  class="mx-auto w-120" src={main.src} alt="Easter"> -->

		<img  class="mx-auto" src={careyTemple.src} alt="Carey Temple">
		<p class="mt-3">At Carey Temple A.M.E. Church, we rejoice in the abundant blessings bestowed upon us by God. Our historic congregation has been guided by generations of remarkable leaders, providing a foundation of spiritual, cultural, and educational strength for nearly a century.</p>
		<p class="text-center"><a class="underline" href="../history">Read more about our history</a></p>

		<!-- <img  class="md:float-left md:w-100 md:m-10 md:mr-5 mx-auto mt-5 mb" src={careyTemple.src} alt="Carey Temple">
		<p class="md:mt-10">At Carey Temple A.M.E. Church, we rejoice in the abundant blessings bestowed upon us by God. Our historic congregation has been guided by generations of remarkable leaders, providing a foundation of spiritual, cultural, and educational strength for nearly a century.</p>
		<p class="text-center"><a class="underline" href="../history">Read more about our history</a></p> -->

		<img src={giveImg.src} alt="Ways to give" class="pb-2"/>


		<!-- <h3>Our Mission and Vision</h3>
		<p>We are a transgenerational church dedicated to loving God, loving our neighbors, and making disciples. With hearts united and empowered by the Holy Spirit, we serve the Lord, our community, and the world. We hold steadfast to the promise: “We can do all things through Christ who strengthens us.” (Philippians 4:13)</p>
		
		<h3>A Rich Legacy</h3>
		<p>Founded by Rev. William Washington Harris, Carey Temple has a proud heritage rooted in faith, resilience, and service. Through visionary leaders and the unwavering devotion of our members, we have grown into a vibrant community dedicated to spreading the gospel and transforming lives.</p>
		
		<h3>Renewed for Today, Hopeful for Tomorrow</h3>
		<p>Under the dynamic leadership of our Senior Pastor, Rev. Atty. Sheila Wilson Freelon, Carey Temple has undergone a remarkable revival. With restored facilities, vibrant hybrid worship services, and debt-free progress, we stand as a beacon of hope and inspiration, modeling faith in action.</p>
		
		<h3>Join Our Journey</h3>
		<p>Whether you worship with us in person or online, we invite you to become part of our family. Together, let us shine Christ’s light on the corner of 72nd and Greenwood and throughout the world. The best is yet to come!</p>
		
		<h3>To God Be the Glory!</h3>
		<p>Experience the joy and love of Christ at Carey Temple African Methodist Episcopal Church. We are here for such a time as this, and we eagerly await your presence in our worship and mission.</p> -->

	</Layout>

	<style>
		p.welcome {
			text-align: center;
			margin: 0;
			padding:  0;
		}

		h2.title {
			font-size: 25px;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	</style>