---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Carey Temple AME Church</title>

	</head>
	<body>
		<ul class="list-none text-center font-bold mt-30">
        <li><a href="https://www.tobiaswright.com/carey-temple-ame/">Home</a></li>
        <li><a href="https://www.tobiaswright.com/carey-temple-ame/history">History</a></li>
        <li><a href="https://www.tobiaswright.com/carey-temple-ame/events">Events</a></li>
        <li><a href="https://www.tobiaswright.com/carey-temple-ame/contact">Contact</a></li>
        <li><a href="https://www.tobiaswright.com/carey-temple-ame/pantry">Food pantry EVERY Wednesday</a></li>
        <li><a href="https://www.tobiaswright.com/carey-temple-ame/contact">You've Invited!</a></li>
    </ul>
    </body>
</html>

<style>
    li {
        margin-bottom: 30px;
        font-size: 20px
    }
</style>