---
import './src/styles/global.css'
---

<h3 class="text-center font-bold mt-5 p-0 text-amber-950">Carey Temple AME Church - Rev. Shelia Wilson Freelon, Esq., MDiv., Senior Pastor</h3>
<address class="text-center pb-10">
	<ul class="list-none not-italic border-b-2 border-b-white pb-4">
		<li class="inline-block pr-1">7157 S. Greenwood, Chicago IL 60619</li>|
		<li class="inline-block pr-1">(773) 324-7766</li>|
		<li class="inline-block">careytempleamec@sbcglobal.net</li>
	</ul>
</address>