---
import '../styles/global.css'
---
<footer class="pt-5">
	<div class="text-center p-0 text-rose-100">
	<p class="p-0 font-bold m-0">Carey Temple AME Church</p>
	<ul class="m-0 p-0">
		<li class="whitespace-nowrap md:inline-block pr-1">Rev. Sheila Wilson Freelon,</li>
		<li class="whitespace-nowrap inline-block pr-1">Esq., MDiv.,</li>
		<li class="whitespace-nowrap inline-block pr-1">Senior Pastor</li>
	</ul>
	</div>
	<address class="text-center pb-10 mt-5">
		<ul class="list-none not-italic text-rose-100">
			<li class="">7157 S. Greenwood, Chicago IL 60619</li>
			<li class="">(773) 324-7766</li>
			<li class="">careytempleamec@sbcglobal.net</li>
		</ul>
	</address>
</footer>


<style>
	p { margin: 0px 0 5px 0;}
</style>